@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Link to Library <a href="/Library">Click</a>.</p>
    <p>Link to Profile with no Id <a href="/Library/Profile">Click</a>.</p>
    <p>Link to Profile with Id <a href="/Library/Profile/2">Click</a>.</p>
</div>
